/* Data Science for Economists - 2022 - Liam Bedwell */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Code for the navigation bar found on W3Schools */


/* Set the background color for my page: */
body{
    background-color: #3aafa9;
    margin: auto;
    width: auto;
    overflow:scroll;
    padding-top: 1em;
    max-width: 98%;
    min-width: 280px;
    margin-bottom: 1em;
 
}


.topnav {
    overflow: hidden;
    display: flex;
    background-color: #449c98;
    text-align: center;
    justify-content: left;
    list-style: none;
    width: 100%;
    min-width: 280px;
    margin-top: .34em !important;
        


  }
  
  .topnav a {
    float: left;
    list-style-type: none;
    color: #f2f2f2;
    text-align: center;
    padding-top: clamp(0.5em,3%,1.5em);
    padding-bottom: clamp(0.5em,3%,1.5em);
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    width: 25%;


  }
  
  .topnav a:hover {
    background-color: #206a67;
    color: black;
  }
  
  .topnav a.active {
    background-color:#00706cb4;
    color: white;
  }


/* Choose the appearance of the tags, h1, h3 and p: */

h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2.2em;
}

h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 1.88em;
    font-size: 1.2em;
    width:100%;

}


h5 { /*same as h2, different top margin for rest of headings*/
  color: white; 
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.2em;
  width: 100%;

}

h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 0em;

}

p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    margin-top: 0%;

}

h4{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: left;
  margin-left: 0.15em !important;;
  margin:0;
}


title1{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 2.2em;
  margin:0;

}

.container0 {
    background-color: transparent;
    text-align: Left;
    margin-left: 0.7%;

  }

.container {
    display: inline-flex;
    vertical-align: center;
    flex-flow: row wrap;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    align-items: top;
    width: auto;


  
  }

  .container1{
    background-color: transparent;
    text-align: left;
    margin-left: 0.7%;


} 


/* Set the apperance of the class, chart */
.chart{
  background-color: white;
  padding: 0.2em  !important;
  text-align: center; /* Moves drop down/slider to center of chart*/
  border-width: .2em;
  height: 100%;
  width: 46%;
  min-width: 280px;
  margin: .2em;
  border-style: solid;
  border-radius: .5em;
  border-color: grey;

    
}
/* use for full width chart */
#chart1{
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: .2em;
  border-radius: .5em;
  text-align: center;
  padding: 0.2em  !important;
  width: 96%;
  min-width: 280px;
}

.a_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  vertical-align: bottom;
  text-align: center;
  gap: 20px 20px;
  margin-top: 0px;
  width: auto;
  min-width: 280px;
  height: 100%;

}


/* use this container for charts which should span the width of the page regardless of screen size.*/
.a_container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  vertical-align: bottom;
  text-align: center;
  margin-top: 0px;
  width: auto;
  min-width: 280px;
  height: 100%;

}



/* Mobile friendly version to allow for clear viewing on a smartphone screen*/


@media only screen and (max-width: 700px) {
  .chart {
    min-width: 98%;
    padding: 0px;
  }

  .a_container {
    padding: 0px;
    gap: 10px 10px
  }
}

@media only screen and (min-width: 700px) {
  .chart {
    max-width: 46%;

  }

  } 

@media only screen and (min-width: 1300px) {
  .chart {
    max-width: 46%;  /* change to 30% for 3 charts, etc.*/
  }

}

